body {
  background-color: rgb(6, 26, 27);
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 500px;
  margin: 60px auto;
}
.container h1 {
  text-align: center;
  color: white;
}
form {
  background-color: white;
  padding: 30px;
  border-radius: 3px;
}
form .input-group {
  margin-bottom: 15px;
}
form label {
  display: block;
  margin-bottom: 10px;
}
form input {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
}
.btn-group {
  display: flex;
  justify-content: space-around;
}
.option {
  width: 30%;
  border: none;
  font-size: 14px;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  color: white;
  background: rgb(37, 83, 3);
}
#download-btn {
  width: 100%;
  border: none;
  background: rgb(37, 83, 3);
  font-size: 18px;
  color: white;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  display: none;
  margin-top: 10px;
}
#refresh-btn {
  width: 100%;
  border: none;
  background: rgb(213,220,207);
  font-size: 18px;
  color: rgb(37, 83, 3);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  display: none;
  margin-top: 10px;
}